body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    padding-left: 46px !important;
    padding-right: 46px !important;
}

.ui-layout-pane {
    border: 0;
}

.standart_panel {
    margin: 8px;
}

.standart_panel tr td {
    padding: 5px;
}

.thesis_template_panel_col1{
    text-align: right;
}

.input_field {
    width: 276px !important;
}

.header {
    font-size: 15px !important;
    color: #444;
}

.north_class div {
    overflow: hidden !important;
}

.south {
    text-align: center !important;
    font-size: 11px;
    color: #666;
}

.uni_logo {
    width: 127px;
    float: left;
}

.col1_width {
    width: 137px;
}

.appeal_accepted {
    background-color: #6fff5f;
}

.appeal_denied {
    background-color: #ff9995;
}

.ui-datatable-footer {
    text-align: left !important;
}

.student_activity_item {
    margin: 4px;
    padding: 8px;
    background-color: #EDEDEE;
    border-bottom: 1px solid #BBBBBB;
    color: #777777;
    font-size: 16px;
    height: 55px;
}

.student_activity_disable{
    border-left: 7px solid red;
}

.student_activity_enable {
    border-left: 7px solid green;
}

.student_activity_last_week {
    border-left: 7px solid #53bcff;
}

.student_activity_detail{
    font-size: 12px !important;
    padding: 7px;
    color: #777;
}

.comment_text {
    font-size: 11px;
    color: #444;;
}

.comment_owner {
    font-size: 11px;
    font-weight: 600;
}

.notification_item {
    margin: 4px;
    padding: 8px;
    border-bottom: 1px solid #BBBBBB;
    font-size: 16px;
    height: 85px;
}

.notification_not_see{
    background-color: #e3ffd4;
}